# Disable the automatic menu displaying on every environment reload.
# export DEVSHELL_NO_MOTD=1
watch_file flakes.nix flake.lock
watch_file ./nix/hive/flake.nix ./nix/hive/flake.lock
# shellcheck disable=SC1090
source "$(fetchurl "https://raw.githubusercontent.com/gtrunsec/direnv/main/lib" "sha256-tuMA8WGkwcYq9V3MtlN6xdVvKd2YkdEpdK4ZyAN6VDM=")"

registry="$PRJ_ROOT/nix/hive#__std"

use envreload //repo/shells/default
